In [1]:
import pyforest

In [3]:
df = pd.read_csv('Q2_2020_Full.csv')

C:\Users\kvray\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [60]:
zone = pd.read_csv('taxi_zones.csv')
dic = dict(zip(zone['OBJECT'], zone['zone']))

In [61]:
zone_df = df.loc[:,['PULocationID','DOLocationID']]

In [62]:
zone_df = pd.DataFrame(np.sort(zone_df, axis=1), zone_df.index, zone_df.columns)
zone_df = zone_df[zone_df['PULocationID'] != zone_df['DOLocationID']] #we are only concerned with zone connections
zone_df = zone_df[zone_df['PULocationID']<264]
zone_df = zone_df[zone_df['DOLocationID']<264]
zone_df.shape

(1043230, 2)

In [63]:
zd = zone_df.copy()

In [64]:
zd['PULocation'] = zd['PULocationID'].apply(lambda x: dic[x])
zd['DOLocation'] = zd['DOLocationID'].apply(lambda x: dic[x])

In [65]:
zd['Connections'] = zd['PULocation'] +"-"+zd['DOLocation']

In [171]:
Most_traversed = zd.groupby(['Connections'])
counts = Most_traversed.size().to_frame(name='counts')
final = (counts
    .join(Most_traversed.agg({'PULocationID': 'mean'}))
    .join(Most_traversed.agg({'DOLocationID': 'mean'}))
    .reset_index()
)
final['PULocationID'] = final['PULocationID'].astype(int)
final['DOLocationID'] = final['DOLocationID'].astype(int)
final.sort_values(by='counts',ascending=False).head(10)

,Connections,counts,PULocationID,DOLocationID
8099,East Harlem North-East Harlem South,8979,74,75
17823,Upper East Side North-Upper East Side South,8691,236,237
17871,Upper West Side North-Upper West Side South,7305,238,239
13830,Lenox Hill West-Yorkville West,6344,141,263
8430,East Harlem South-Yorkville West,6338,75,263
13726,Lenox Hill East-Yorkville West,5463,140,263
13806,Lenox Hill West-Upper East Side North,5438,141,236
8405,East Harlem South-Upper East Side North,5353,75,236
17847,Upper East Side North-Yorkville West,5308,236,263
13910,Lincoln Square East-Upper West Side South,5304,142,239

In [168]:
def get_key(val):
    for key, value in dic.items():
         if val == value:
             return key
 
    return "key doesn't exist"

In [170]:
demand = zd[zd['PULocationID']<264].loc[:,['PULocationID']].copy()
demand['Location'] = demand['PULocationID'].apply(lambda x: dic[x])
demand_res = demand.groupby(['Location']).size().to_frame(name='counts').reset_index()
demand_res['PULocationID']=demand_res['Location'].apply(lambda x: get_key(x))
demand_res

                    Location  counts  PULocationID
0    Allerton/Pelham Gardens     702             3
1              Alphabet City    7771             4
2              Arden Heights      32             5
3    Arrochar/Fort Wadsworth      84             6
4                    Astoria    6961             7
..                       ...     ...           ...
249                Woodhaven      13           258
250       Woodlawn/Wakefield      49           259
251                 Woodside      86           260
252       World Trade Center      71           261
253           Yorkville East    3015           262

[254 rows x 3 columns]